
$primary-color: #C33521;
$secondary-color: #F9FAF5;
$background-color: #EFEFE5;

$darkgrey: #666666;
$grey: #CCCCCC;
$white: #ffffff;
$lightgrey: #FAFAFA;

$basic: 40px;
$tiny: $basic / 4;
$small: $basic / 2;
$medium: 2 * $basic;
$large: 3 * $basic;